@font-face {
    font-family: FEEDM3;
    src: url(lumberjack.regular.otf);
}

.recipe-box {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    color: #1e394f;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #b8d1e4;
    -webkit-box-shadow: 2px 2px 3px 0 #6ba1c7 ;
    box-shadow: 2px 2px 3px 0 #6ba1c7 ;
    transition: 0.3s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.recipe-box:hover {
    background: #a9c8de;
    -webkit-box-shadow: 2px 2px 3px 1px #6ba1c7 ;
    box-shadow: 2px 2px 3px 1px #6ba1c7 ;
    transition: 0.3s;
}

.ing-input {
    width: 240px;
    height: 25px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    padding: 10px;
    border: 1px solid #6ba1c7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    color: #1e394f;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 2px 2px 3px 0 #b8d1e4 inset;
    box-shadow: 2px 2px 3px 0 #b8d1e4 inset;
    transition: 0.3s;
  }

  .ing-input:focus {
    border: 1px solid #336284;
    outline: 0mm;
    -webkit-box-shadow: 2px 2px 4px 1px #b8d1e4 inset;
    box-shadow: 2px 2px 4px 1px #b8d1e4 inset;
    transition: 0.3s;
  }

  .search-btn {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 240px;
    height: 25px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #6ba1c7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    color: #336289;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    transition: 0.3s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.search-btn:hover {
    background: #6ba1c7;
    color: white;
    transition: 0.3s;
}

.search-btn:active {
    -webkit-box-shadow: 2px 2px 3px 0 #1e394f inset;
    box-shadow: 2px 2px 3px 0 #1e394f inset;
    color: white;
    transition: 0.05s;
}