@media (min-width: 992px) {
 

    .row {
      padding-left: 6%;
      padding-right: 6%;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .col-lg-3 {
        max-width: 100%;
    }
  
    .leadd {
      font-size: 150% !important;
    }
  
    .form-control {
      font-size: 150% !important;
    }

    .fatfont {
      font-size: 150% !important;
      font-weight: bold !important;
      width: 100%;
    }
  
    .pict { 
      padding-left: 30% !important;
      padding-right: 30% !important;
      padding-top: 4% !important;
      padding-bottom: 4% !important;
      width: 100% !important;
    }
  
    .btn-outline-secondary {
      width: 100%;
      font-size: 150% !important;
    }
  
    .jumbotron {
      padding: 2% 2% !important;
    }
  
    .jumbotron-fluid {
      margin-bottom: 5%;
    }
  
    p {
      margin-top: 1% !important;
      margin-bottom: 1% !important;
    }
  
    .container {
      padding-right: 2% !important;
      padding-left: 2% !important;
      /* margin-left: 2% !important;
      margin-right: 2% !important; */
    }
  
    .col-0 {
      visibility: hidden;
    }
    
    .elem {
      width: 100% !important;
    }
  
    .border {
      padding-right: 6% !important;
      flex: 0 0 0% !important;
      max-width: 0% !important;
    }
  
   .row {
    width: 100% !important;
    margin-left: 0% !important;
   }
  
   .textt {
     text-align: center !important;
     align-self: center !important;
     position: fixed !important;
      bottom: 0 !important;
      width: 100% !important;
      background-color: white;
      padding-right: 12%;
   }
   
    .llogo {
      align-self: center !important;
      height: 10% !important;
    }
  }